body {
  background-color: lightyellow;
  color: saddlebrown;
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 300%;
  font-family: 'Sigmar One', cursive;
  margin: 1px;
}

p {
  font-size: 120%;
  margin: 1px;
}

.alert {
  background-color: mistyrose;
  color: red;
  padding: 15px;
  border: 1px red;
  border-radius: 4px;
}